<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://houfeng.net/Amuse.xsd">
  <bean name="b" type="Amuse.Demo.Impls.B,Amuse.Demo.Impls" mode="multiton" group="servlet">
    <constructor>
      <parameter name="value2">2</parameter>
      <parameter name="value1">1</parameter>
    </constructor>
    <method name="SetValue">
      <parameter name="value2">20</parameter>
      <parameter name="value1">10</parameter>
    </method>
  </bean>
  <bean name="a" type="Amuse.Demo.Impls.A,Amuse.Demo.Impls" factory-method="Create" mode="singleton" group="servlet">
    <property name="B" ref="b"/>
    <property name="Value1">
      1
    </property>
    <property name="Value2">
      2
    </property>
  </bean>
</beans>