/*网格布局*/
[data-role~=grid] { position: relative; margin: 0px; padding: 0px; vertical-align: top; }
[data-role~=cell] { position: relative; margin: 0px; padding: 0px; overflow: auto; display: inline-block; float: left; list-style-type: none; }
/*局部滚动*/
[data-role~=scroll] { overflow: auto; -webkit-overflow-scrolling: touch; }
