<?xml version="1.0" encoding="utf-8" ?>
<Database Name="Database" xmlns="http://schemas.microsoft.com/linqtosql/mapping/2007">
  <Table Name="App">
    <Type Name="Prolliance.Membership.DataPersistence.Models.AppInfo">
      <Column Name="Id" Member="Id" DbType="nvarchar(64) NOT NULL" IsPrimaryKey="true" />
      <Column Name="Key" Member="Key" DbType="nvarchar(64)"/>
      <Column Name="Secret" Member="Secret" DbType="nvarchar(64)"/>
      <Column Name="Name" Member="Name" DbType="nvarchar(64)" />
      <Column Name="WhiteList" Member="WhiteList" DbType="nvarchar(512)" />
      <Column Name="IsActive" Member="IsActive" DbType="bit" />
      <Column Name="Summary" Member="Summary" DbType="nvarchar(256)" />
      <Column Name="Sort" Member="Sort" DbType="int" />
    </Type>
  </Table>
  <Table Name="Organization">
    <Type Name="Prolliance.Membership.DataPersistence.Models.OrganizationInfo">
      <Column Name="Id" Member="Id" DbType="nvarchar(64) NOT NULL" IsPrimaryKey="true"/>
      <Column Name="Code" Member="Code" DbType="nvarchar(64) NOT NULL"/>
      <Column Name="Name" Member="Name" DbType="nvarchar(64)" />
      <Column Name="FullName" Member="FullName" DbType="nvarchar(256)" />
      <Column Name="ParentId" Member="ParentId" DbType="nvarchar(64)" />
      <Column Name="Type" Member="Type" DbType="nvarchar(64)" />
      <Column Name="IsActive" Member="IsActive" DbType="bit" />
      <Column Name="Sort" Member="Sort" DbType="int" />
    </Type>
  </Table>
  <Table Name="Position">
    <Type Name="Prolliance.Membership.DataPersistence.Models.PositionInfo">
      <Column Name="Id" Member="Id" DbType="nvarchar(64) NOT NULL" IsPrimaryKey="true"/>
      <Column Name="Code" Member="Code" DbType="nvarchar(64) NOT NULL"/>
      <Column Name="Name" Member="Name" DbType="nvarchar(64)" />
      <Column Name="OrganizationId" Member="OrganizationId" DbType="nvarchar(64)" />
      <Column Name="Type" Member="Type" DbType="nvarchar(64)" />
      <Column Name="IsActive" Member="IsActive" DbType="bit" />
      <Column Name="Sort" Member="Sort" DbType="int" />
    </Type>
  </Table>
  <Table Name="PositionReportTo">
    <Type Name="Prolliance.Membership.DataPersistence.Models.PositionReportToInfo">
      <Column Name="Id" Member="Id" DbType="nvarchar(64) NOT NULL" IsPrimaryKey="true"/>
      <Column Name="OrganizationId" Member="OrganizationId" DbType="nvarchar(64) NOT NULL"/>
      <Column Name="PositionId" Member="PositionId" DbType="nvarchar(64) NOT NULL" />
      <Column Name="HigherOrganizationId" Member="HigherOrganizationId" DbType="nvarchar(64) NOT NULL"/>
      <Column Name="HigherPositionId" Member="HigherPositionId" DbType="nvarchar(64) NOT NULL" />
    </Type>
  </Table>
  <Table Name="PositionUser">
    <Type Name="Prolliance.Membership.DataPersistence.Models.PositionUserInfo">
      <Column Name="Id" Member="Id" DbType="nvarchar(64) NOT NULL" IsPrimaryKey="true"/>
      <Column Name="OrganizationId" Member="OrganizationId" DbType="nvarchar(64) NOT NULL"/>
      <Column Name="PositionId" Member="PositionId" DbType="nvarchar(64) NOT NULL"/>
      <Column Name="UserId" Member="UserId" DbType="nvarchar(64) NOT NULL" />
      <Column Name="Sort" Member="Sort" DbType="int" />
    </Type>
  </Table>
  <Table Name="Role">
    <Type Name="Prolliance.Membership.DataPersistence.Models.RoleInfo">
      <Column Name="Id" Member="Id" DbType="nvarchar(64) NOT NULL" IsPrimaryKey="true"/>
      <Column Name="Code" Member="Code" DbType="nvarchar(64) NOT NULL"/>
      <Column Name="Name" Member="Name" DbType="nvarchar(64)" />
      <Column Name="Summary" Member="Summary" DbType="nvarchar(512)"/>
      <Column Name="IsActive" Member="IsActive" DbType="bit" />
      <Column Name="Sort" Member="Sort" DbType="int" />
    </Type>
  </Table>
  <Table Name="RoleMutex">
    <Type Name="Prolliance.Membership.DataPersistence.Models.RoleMutexInfo">
      <Column Name="Id" Member="Id" DbType="nvarchar(64) NOT NULL" IsPrimaryKey="true"/>
      <Column Name="Group" Member="Group" DbType="nvarchar(64) NOT NULL"/>
      <Column Name="RoleId" Member="RoleId" DbType="nvarchar(64) NOT NULL" />
      <Column Name="Type" Member="Type" DbType="int" />
    </Type>
  </Table>
  <Table Name="RoleOrganization">
    <Type Name="Prolliance.Membership.DataPersistence.Models.RoleOrganizationInfo">
      <Column Name="Id" Member="Id" DbType="nvarchar(64) NOT NULL" IsPrimaryKey="true"/>
      <Column Name="RoleId" Member="RoleId" DbType="nvarchar(64) NOT NULL"/>
      <Column Name="OrganizationId" Member="OrganizationId" DbType="nvarchar(64) NOT NULL" />
    </Type>
  </Table>
  <Table Name="RolePosition">
    <Type Name="Prolliance.Membership.DataPersistence.Models.RolePositionInfo">
      <Column Name="Id" Member="Id" DbType="nvarchar(64) NOT NULL" IsPrimaryKey="true"/>
      <Column Name="RoleId" Member="RoleId" DbType="nvarchar(64) NOT NULL"/>
      <Column Name="OrganizationId" Member="OrganizationId" DbType="nvarchar(64) NOT NULL" />
      <Column Name="PositionId" Member="PositionId" DbType="nvarchar(64) NOT NULL" />
    </Type>
  </Table>
  <Table Name="RoleOperation">
    <Type Name="Prolliance.Membership.DataPersistence.Models.RoleOperationInfo">
      <Column Name="Id" Member="Id" DbType="nvarchar(64) NOT NULL" IsPrimaryKey="true"/>
      <Column Name="RoleId" Member="RoleId" DbType="nvarchar(64) NOT NULL"/>
      <Column Name="AppId" Member="AppId" DbType="nvarchar(64) NOT NULL" />
      <Column Name="TargetId" Member="TargetId" DbType="nvarchar(64) NOT NULL" />
      <Column Name="OperationId" Member="OperationId" DbType="nvarchar(64) NOT NULL" />
    </Type>
  </Table>
  <Table Name="RoleUser">
    <Type Name="Prolliance.Membership.DataPersistence.Models.RoleUserInfo">
      <Column Name="Id" Member="Id" DbType="nvarchar(64) NOT NULL" IsPrimaryKey="true"/>
      <Column Name="RoleId" Member="RoleId" DbType="nvarchar(64) NOT NULL"/>
      <Column Name="UserId" Member="UserId" DbType="nvarchar(64) NOT NULL" />
    </Type>
  </Table>
  <Table Name="Target">
    <Type Name="Prolliance.Membership.DataPersistence.Models.TargetInfo">
      <Column Name="Id" Member="Id" DbType="nvarchar(64) NOT NULL" IsPrimaryKey="true"/>
      <Column Name="AppId" Member="AppId" DbType="nvarchar(64) NOT NULL"/>
      <Column Name="Code" Member="Code" DbType="nvarchar(64) NOT NULL"/>
      <Column Name="Group" Member="Group" DbType="nvarchar(64)" />
      <Column Name="Name" Member="Name" DbType="nvarchar(64)" />
      <Column Name="Summary" Member="Summary" DbType="nvarchar(512)"/>
      <Column Name="Scope" Member="Scope" DbType="nvarchar(max)" />
      <Column Name="Sort" Member="Sort" DbType="int" />
    </Type>
  </Table>
  <Table Name="Operation">
    <Type Name="Prolliance.Membership.DataPersistence.Models.OperationInfo">
      <Column Name="Id" Member="Id" DbType="nvarchar(64) NOT NULL" IsPrimaryKey="true"/>
      <Column Name="AppId" Member="AppId" DbType="nvarchar(64) NOT NULL"/>
      <Column Name="TargetId" Member="TargetId" DbType="nvarchar(64) NOT NULL" />
      <Column Name="Code" Member="Code" DbType="nvarchar(64) NOT NULL"/>
      <Column Name="Name" Member="Name" DbType="nvarchar(64)" />
      <Column Name="Summary" Member="Summary" DbType="nvarchar(512)"/>
    </Type>
  </Table>
  <Table Name="User">
    <Type Name="Prolliance.Membership.DataPersistence.Models.UserInfo">
      <Column Name="Id" Member="Id" DbType="nvarchar(64) NOT NULL" IsPrimaryKey="true"/>
      <Column Name="Account" Member="Account" DbType="nvarchar(64) NOT NULL"/>
      <Column Name="Name" Member="Name" DbType="nvarchar(64)"/>
      <Column Name="Email" Member="Email" DbType="nvarchar(128)" />
      <Column Name="MobilePhone" Member="MobilePhone" DbType="nvarchar(32)"/>
      <Column Name="OfficePhone" Member="OfficePhone" DbType="nvarchar(32)"/>
      <Column Name="JianPin" Member="JianPin" DbType="nvarchar(64)" />
      <Column Name="QuanPin" Member="QuanPin" DbType="nvarchar(64)" />
      <Column Name="IsActive" Member="IsActive" DbType="bit" />
      <Column Name="Sort" Member="Sort" DbType="int" />
    </Type>
  </Table>
  <Table Name="UserState">
    <Type Name="Prolliance.Membership.DataPersistence.Models.UserStateInfo">
      <Column Name="Id" Member="Id" DbType="nvarchar(64) NOT NULL" IsPrimaryKey="true"/>
      <Column Name="Account" Member="Account" DbType="nvarchar(64) NOT NULL"/>
      <Column Name="Token" Member="Token" DbType="nvarchar(64)"/>
      <Column Name="Device" Member="Device" DbType="nvarchar(64)" />
      <Column Name="DeviceId" Member="DeviceId" DbType="nvarchar(512)"/>
      <Column Name="Ip" Member="Ip" DbType="nvarchar(64)"/>
      <Column Name="LastActive" Member="LastActive" DbType="datetime" />
    </Type>
  </Table>
  <Table Name="UserPhoto">
    <Type Name="Prolliance.Membership.DataPersistence.Models.UserPhotoInfo">
      <Column Name="Id" Member="Id" DbType="nvarchar(64) NOT NULL" IsPrimaryKey="true"/>
      <Column Name="Account" Member="Account" DbType="nvarchar(64) NOT NULL"/>
      <Column Name="PhotoBinary" Member="PhotoBinary" DbType="image"  UpdateCheck = "Never"/>
      <Column Name="PhotoExt" Member="PhotoExt" DbType="nvarchar(8)"/>
    </Type>
  </Table>
  <Table Name="UserSecurity">
    <Type Name="Prolliance.Membership.DataPersistence.Models.UserSecurityInfo">
      <Column Name="Id" Member="Id" DbType="nvarchar(64) NOT NULL" IsPrimaryKey="true"/>
      <Column Name="Account" Member="Account" DbType="nvarchar(64) NOT NULL"/>
      <Column Name="Password" Member="Password" DbType="nvarchar(64)"/>
    </Type>
  </Table>
</Database>