<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://houfeng.net/Amuse.xsd">
  <bean name="easy-cache" type="Prolliance.EasyCache.Impls.MemoryCache" mode="singleton">
  </bean>
  <bean name="data-provider" type="Prolliance.Membership.DataProvider.SQLServer.DataProviderExtension,Prolliance.Membership.DataProvider.SQLServer" group="" mode="singleton">
    <property name="ConnectionString">
      Data Source=192.168.0.80;Database=Membership_Siemens;User=sa;Password=pass@word1;MultipleActiveResultSets=True
    </property>
  </bean>
  <bean name="passport" type="Prolliance.Membership.Passport.Database.PassportProvider,Prolliance.Membership.Passport.Database" group="" mode="singleton">
  </bean>
</beans>
<!--<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://houfeng.net/Amuse.xsd">
  <bean name="easy-cache" type="Prolliance.EasyCache.Impls.MemoryCache" mode="singleton">
  </bean>
  <bean name="data-provider" type="Prolliance.Membership.DataProvider.SQLServer.DataProviderExtension,Prolliance.Membership.DataProvider.SQLServer" group="" mode="singleton">
    <property name="ConnectionString">
      Data Source=PC-201409172133\SQL2012;Database=Membership;User=sa;Password=password01!;MultipleActiveResultSets=True
    </property>
  </bean>
  <bean name="passport" type="Prolliance.Membership.Passport.DC.PassportProvider,Prolliance.Membership.Passport.DC" group="" mode="singleton">
    <property name="DC">
      192.168.1.60
    </property>
    <property name="Administrator">
      administrator
    </property>
    <property name="Password">
      password01!
    </property>
  </bean>
</beans>-->