<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="token-timeout" value="0"/>
    <add key="log-path" value="{server-path}\\logs"/>
    <add key="name" value="Membership"/>
    <add key="email" value="support@prolliance.cn"/>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key ="MembershipNodes" value="http://localhost:85/"/>
    <add key="ExtensionModel" value="UserInfo,OrganizationInfo"/>
    <add key ="UserInfoBase" value="Id,Account,Name,Email,MobilePhone,OfficePhone,JianPin,QuanPin,IsActive,Sort"/>
    <add key ="OrgInfoBase" value="Id,ParentId,Code,Name,FullName,Type,IsActive,Sort"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages enableSessionState="true" enableViewState="true" controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off" defaultRedirect="error.aspx"/>
    <sessionState mode="InProc"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.aspx" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>