<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://houfeng.net/Amuse.xsd">
  <bean name="easy-cache" type="Prolliance.EasyCache.Impls.MemoryCache" mode="singleton">
  </bean>
  <bean name="data-provider" type="Prolliance.Membership.DataProvider.MongoDB.DataProvider,Prolliance.Membership.DataProvider.MongoDB" mode="singleton">
    <property name="ConnectionString">
      mongodb://192.168.1.31|Membership
    </property>
  </bean>
  <bean name="passport" type="Prolliance.Membership.Passport.Database.PassportProvider,Prolliance.Membership.Passport.Database" mode="singleton">
  </bean>
</beans>